<!-- Begin frontpage no products -->
<div class="note helper-note helper-homepage-products">
  {% if shop.products_count == 0 %}
    <i class="icon-products helper-icon"></i>
    <h3>{{ 'home_page.onboarding.products_title' | t }}</h3>
    <p>{{ 'home_page.onboarding.products_text_html' | t: frontpage: collections[settings.frontpage_collection].title }}
    </p>
    <p><a class="admin-btn-primary" href="/admin/products/new">{{ 'home_page.onboarding.add_product' | t }}</a><a class="secondary-action" href="/products/example-product">{{ 'home_page.onboarding.view_sample' | t }}</a></p>
  {% elsif collections[settings.frontpage_collection].products.size == 0 %}
    <i class="icon-collections helper-icon"></i>
    <h3>{{ 'home_page.onboarding.collections_title' | t }}</h3>
    <p>{{ 'home_page.onboarding.collections_text_html' | t: frontpage: collections[settings.frontpage_collection].title }}</p>
    <p><a class="admin-btn-primary" href="/admin/collections?tutorial=Frontpage">{{ 'home_page.onboarding.add_collection' | t }}</a><a class="secondary-action" href="http://docs.shopify.com/manual/your-store/collections?utm_source=default-theme&utm_medium=contextual&utm_campaign=default-theme-products-tooltips-experiment" target="shopify_info">{{ 'home_page.onboarding.learn_collections' | t }}</a></p>
  {% endif %}
</div>

<div class="helper-content clearfix">

  <div class="display-table featured-product span12">
    <div class="p30">
      <div class="display-table-cell featured-product-description">
        <h2>{{ 'home_page.onboarding.example_product_title' | t }}</h2>
        <span class="price">
          {{ '7999' | money }}
        </span>
        <div class="featured-product-description">
          <p>{{ 'home_page.onboarding.example_product_text' | t }}</p>
        </div>
        <a class="btn">{{ 'home_page.onboarding.view_product' | t }}</a>
      </div>
      <div class="display-table-cell featured-product-image">
        <img src="{{ 'product-1.png' | asset_url }}" alt="Example product" />
      </div>
    </div><!-- p30 -->
  </div><!-- display table -->

  <div class="product span4">
    <div class="image">
      <img src="{{ 'product-2.png' | asset_url }}" alt="Example product" />
    </div>
    <div class="details">
      <h4 class="title">{{ 'home_page.onboarding.example_product_title' | t }} </h4>
      <span class="price">
        {{ '8499' | money }}
      </span>
    </div>
  </div>
  <div class="product span4 ">
    <div class="image">
      <img src="{{ 'product-3.png' | asset_url }}" alt="Example product" />
    </div>
    <div class="details">
      <h4 class="title">{{ 'home_page.onboarding.example_product_title' | t }} </h4>
      <span class="price">
        {{ '5999' | money }}
      </span>
    </div>
  </div>
  <div class="product span4">
    <div class="image">
      <img src="{{ 'product-4.png' | asset_url }}" alt="Example product" />
    </div>
    <div class="details">
      <h4 class="title">{{ 'home_page.onboarding.example_product_title' | t }} </h4>
      <span class="price">
        {{ '2999' | money }}
      </span>
    </div>
  </div>

  <div class="span12 border-bottom p30"></div>

</div>
<!-- End frontpage no products -->
